
.maintext{
    background-color: mediumaquamarine;
    color: rgb(24, 24, 34);
    border-radius: 100px;
    text-align:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    
    display: inline-block;
    margin-right:20px;
}
.codeProjects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    width: 75%;
    height: fit-content 60%;
    margin: 0 auto;
    border-style: dashed;
    border-width: 5px;
}
.coding-imgs {
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    border-style: groove;
}
.TopofPage{
    color: aquamarine;
    background-color: blue;
    border-radius: 5%;
}
a:link{
    color: aquamarine;
}
a:hover{
    color:palevioletred;
}
body {
    font-size:large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
