
.maintext{
    background-color: mediumaquamarine;
    color: rgb(24, 24, 34);
    border-radius: 100px;
    text-align:center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    margin-right:20px;
}
#projects{
    background-color:blueviolet;
    color: wheat
}
.coding-imgs {
    padding: 35px;
    border: 1px solid white;
    border-radius: 50px;
}
.TopofPage{
    text-decoration-color: aquamarine;
    background-color: blue;
}