.maintext{
    background-color: mediumaquamarine;
    color: whitesmoke;
}
#projects{
    background-color:blueviolet;
    color: wheat
}
.coding-imgs {
    padding: 35px;
    border: 1px solid white;
}